[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {editable = true, ref = "3cf80058dac989c91802ab59c80c2f22d0447369", git = "https://www.github.com/AfricasVoices/CoreDataModules"}

[dev-packages]

[requires]
python_version = "3.6"
