[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]

[packages]
CoreDataModules = {editable = true, ref = "7d990e7a3a2754b4cc5833f024e896b4d5b279fc", git = "https://www.github.com/AfricasVoices/CoreDataModules"}
pytz = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
