[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "https://www.github.com/AfricasVoices/CoreDataModules", editable = true, ref = "588c8bddfb2b6492655c67fcc9a22fd8a84d2dc0"}  # TODO: Update to a short ref when PR in CoreData is merged

[dev-packages]

[requires]
python_version = "3.6"
