[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
CoreDataModules = {git = "https://www.github.com/AfricasVoices/CoreDataModules", editable = true, ref = "9babd677224d406f7cb98c8a7e1192c733a515bb"}

[dev-packages]

[requires]
python_version = "3.6"
